* {
	font-family: "JetBrainsMono Nerd Font", "Noto Sans", monospace;
	font-size: 11pt;
	border-radius: 0px;
	color: #ffffff;
}

window#waybar {
	background-color: #222222;
}

#cpu,
#load,
#memory,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#clock {
    font-weight: 600;
}

#cpu.critical,
#load.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
	color: #f00;
}

#cpu.warning,
#load.warning,
#memory.warning,
#temperature.warning,
#battery.warning {
	color: #fa0;
}

#pulseaudio.muted {
	color: #fa0;
}

#network.disconnected {
	color: #f00;
}

#workspaces button {
	padding: 0 8px;
	border: none;
	background: transparent;
}

#workspaces button.focused {
	font-weight: 700;
}

#custom-menu {
	padding: 0 12px;
	font-size: 14pt;
	font-weight: 700;
}

#custom-menu:hover {
	background: #555;
}

