* {
	font-family: "Symbols Nerd Font", "monospace";
	font-size: 11pt;
	border-radius: 0px;
	color: #ffffff;
}

window#waybar {
	background-color: #222222;
}

#cpu,
#load,
#memory,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#clock {
	font-weight: 600;
	padding: 0 6px;
}

#cpu.warning,
#load.warning,
#memory.warning,
#temperature.warning,
#battery.warning {
	color: #222;
	background-color: #fa0;
}

#pulseaudio.muted,
#network.disconnected, 
#cpu.critical,
#load.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
	color: #222;
	background-color: #f00;
}

#workspaces button {
	padding: 0 8px;
	border: none;
	background: transparent;
}

#workspaces button.focused {
	font-weight: 700;
}

#custom-menu {
	padding: 0 12px;
	font-size: 14pt;
	font-weight: 700;
}

#custom-menu:hover {
	background: #555;
}

#cpu,
#load,
#memory,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#clock {
	border: 1px solid #111;
	border-radius: 6px;
	background-color: #333;
	margin: 1px;
}

